.botao {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.botao:hover {
  background-color: #0056b3;
}
footer {
  background-color: rgb(31, 158, 69);
  height: 80px;
  text-align: center;
  justify-content: center;
  margin: 0;
  color: white;
}
